var/
*.log
*.mp4
*.avi
*.json

# Large model artifacts / exports
models/
models_repo/
artifacts/
*.pt
*.onnx
*.engine
*.tar.gz
*.pth
*.pth.tar

CustomBoosttrack/

__pycache__/
*.pyc

.env
*.egg-info/
dist/
build/
.conda/
.venv/